*.pyc
*.o
*.log
*.mexa64
aam_model/model/all_emotions.mat
merlin/egs/greek/s1/experiments
merlin/egs/greek/s1/scp
merlin/egs/greek/s1/conf/*.conf
merlin/egs/greek/s1/train_scps/base_train_neutral.review.scp
merlin/egs/greek/s1/train_scps/test.review.scp
data/speechfeatures
data/train_files
data/mfcc
data/htk_align
data/festival
data/festival_labels_build
data/labels
